/* common */
body {
  margin: 0;
}
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.df.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.df.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.df.between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.df .f1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
}
.space {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
}
.del {
  text-decoration: line-through;
}
.tc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.link {
  cursor: pointer;
}
.hr {
  border-bottom: .03rem solid #eee;
}
/* display box */
.mt1 {
  margin-top: .1rem;
}
.mb1 {
  margin-bottom: .1rem;
}
.pb1 {
  padding-bottom: .1rem;
}
.pt1 {
  padding-top: .1rem;
}
.pl4 {
  padding-left: .4rem;
}
.pr4 {
  padding-right: .4rem;
}
.pl3 {
  padding-left: .3rem;
}
.pr3 {
  padding-right: .3rem;
}
.pa3 {
  padding: .3rem;
}
.pa4 {
  padding: .4rem;
}
.pl2 {
  padding-left: .2rem;
}
.pr2 {
  padding-right: .2rem;
}
.ml4 {
  margin-left: .4rem;
}
.mr4 {
  margin-right: .4rem;
}
.mb2 {
  margin-bottom: .3rem;
}
.mb3 {
  margin-bottom: .3rem;
}
.mb4 {
  margin-bottom: .4rem;
}
.mt4 {
  margin-top: .4rem;
}
.ml3 {
  margin-left: .3rem;
}
.mr3 {
  margin-right: .3rem;
}
.mt3 {
  margin-top: .3rem;
}
.ml2 {
  margin-left: .2rem;
}
.mr2 {
  margin-right: .2rem;
}
.mt2 {
  margin-top: .2rem;
}
.pt2 {
  padding-top: .2rem;
}
.pt4 {
  padding-top: .4rem;
}
.pb4 {
  padding-bottom: .4rem;
}
.pb2 {
  padding-bottom: .2rem;
}
/* font */
.font9 {
  font-size: 9px;
}
[data-dpr="2"] .font9 {
  font-size: 18px;
}
[data-dpr="3"] .font9 {
  font-size: 27px;
}
.font10 {
  font-size: 10px;
}
[data-dpr="2"] .font10 {
  font-size: 20px;
}
[data-dpr="3"] .font10 {
  font-size: 30px;
}
.font12 {
  font-size: 12px;
}
[data-dpr="2"] .font12 {
  font-size: 24px;
}
[data-dpr="3"] .font12 {
  font-size: 36px;
}
.font14 {
  font-size: 14px;
}
[data-dpr="2"] .font14 {
  font-size: 28px;
}
[data-dpr="3"] .font14 {
  font-size: 42px;
}
.font15 {
  font-size: 15px;
}
[data-dpr="2"] .font15 {
  font-size: 30px;
}
[data-dpr="3"] .font15 {
  font-size: 45px;
}
.font16 {
  font-size: 16px;
}
[data-dpr="2"] .font16 {
  font-size: 32px;
}
[data-dpr="3"] .font16 {
  font-size: 48px;
}
.font17 {
  font-size: 17px;
}
[data-dpr="2"] .font17 {
  font-size: 34px;
}
[data-dpr="3"] .font17 {
  font-size: 52px;
}
.font18 {
  font-size: 18px;
}
[data-dpr="2"] .font18 {
  font-size: 36px;
}
[data-dpr="3"] .font18 {
  font-size: 54px;
}
.font20 {
  font-size: 20px;
}
[data-dpr="2"] .font20 {
  font-size: 40px;
}
[data-dpr="3"] .font20 {
  font-size: 60px;
}
.font24 {
  font-size: 24px;
}
[data-dpr="2"] .font24 {
  font-size: 48px;
}
[data-dpr="3"] .font24 {
  font-size: 72px;
}
.font26 {
  font-size: 26px;
}
[data-dpr="2"] .font26 {
  font-size: 52px;
}
[data-dpr="3"] .font26 {
  font-size: 78px;
}
.font28 {
  font-size: 28px;
}
[data-dpr="2"] .font28 {
  font-size: 56px;
}
[data-dpr="3"] .font28 {
  font-size: 84px;
}
.font30 {
  font-size: 30px;
}
[data-dpr="2"] .font30 {
  font-size: 60px;
}
[data-dpr="3"] .font30 {
  font-size: 90px;
}
.font32 {
  font-size: 32px;
}
[data-dpr="2"] .font32 {
  font-size: 64px;
}
[data-dpr="3"] .font32 {
  font-size: 96px;
}
/* background color */
.bcrOrange, .bcrffc438 {
  background-color: #ffc438;
}
.bcrThinOrange, .bcrffd744 {
  background-color: #ffd744;
}
.bcrf8f8f8 {
  background-color: #f8f8f8;
}
.bcrcecece {
  background-color: #cecece;
}
/* color */
.cr000 {
  color: #000;
}
.cr333 {
  color: #333;
}
.cr666 {
  color: #666;
}
.cr999 {
  color: #999;
}
.crForgive, .cr4fc08d {
  color: #4fc08d;
}
.crOrange, .crffaa00 {
  color: #ffaa00;
}
.crSkyBlue, .cr05c3f9 {
  color: #05c3f9;
}
.crfff {
  color: #fff;
}
.crGirlPink {
  color: #ff5959;
}



.ek-meta.good-detail div {
  margin-top: .5rem;
  margin-bottom: .2rem;
  font-size: 16px;
}
[data-dpr="2"] .ek-meta.good-detail div {
  font-size: 32px;
}
[data-dpr="3"] .ek-meta.good-detail div {
  font-size: 48px;
}
.ek-meta.good-detail p {
  margin: .1rem 0;
  font-size: 14px;
  color: #666;
}
[data-dpr="2"] .ek-meta.good-detail p {
  font-size: 28px;
}
[data-dpr="3"] .ek-meta.good-detail p {
  font-size: 42px;
}