.btn {
  padding: 5px 20px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn:hover {
  -webkit-transform: scale(.9);
          transform: scale(.9);
}
.btn.primary {
  background-color: #4fc08d;
  border: 1px solid #4fc08d;
}
.btn.primary.bcrSkyBlue {
  background-color: #05c3f9;
  border: 1px solid #05c3f9;
}
.btn.contrast {
  background-color: #fff;
  border: 1px solid #4fc08d;
}
.btn.contrast.crOrange {
  background-color: #fff;
  border: 1px solid #ffd744;
}
.btn.contrast.crSkyBlue {
  background-color: #fff;
  border: 1px solid #05c3f9;
}