.fa-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px 20px;
}
.fa-back {
  background-image: url('../images/back.svg');
}
.fa-search {
  background-image: url('../images/search.svg');
}
.fa-close {
  background-image: url('../images/close.svg');
}
.fa-vip {
  background-image: url('../images/vip.png');
}
.fa-vippop {
  background-image: url('../images/vippop.png');
}
.fa-more {
  background-image: url('../images/more.svg');
}
.fa-radio {
  background-image: url('../images/radio.png');
}
.fa-account {
  background-image: url('../images/account.png');
}
.fa-wrong {
  background-image: url('../images/wrong.svg');
}
.fa-radio-selected {
  background-image: url('../images/radio_selected.png');
}